@import 'tailwindcss';

.card {
  @apply shadow-md rounded-xl 
  bg-white text-gray-800 border border-gray-300 
  px-3 py-3 
  max-sm:px-2 max-sm:py-2
  hover:scale-102 hover:shadow-xl
  active:scale-98 active:shadow-lg
  max-sm:hover:scale-103
  max-sm:active:scale-97 
  transition-all duration-300 ease-in-out;
  .cardBody {
    /* @apply grid grid-cols-[6%_88%_6%] sm:grid-cols-[8%_84%_8%]; */
    @apply flex;
    .cardIcon {
      @apply min-w-4 w-4 h-4 me-1;
    }
    .cardLeft {
      @apply min-w-20;
      .category {
        @apply text-sm font-semibold text-gray-900 w-16 text-center;
        &.fight {
          @apply text-red-900;
        }
        &.cold {
          @apply text-blue-900;
        }
      }
      img {
        @apply w-16 h-16 rounded-md border-1 border-gray-300;
      }
    }
    .cardContent {
      @apply flex-grow-1 flex max-sm:flex-col max-sm:justify-between;
      .titleBox {
        @apply flex justify-between w-full flex-grow-1;
        .title {
          @apply text-sm font-semibold text-gray-900 flex;
          /* line-height: 2; */
          .fireIcon {
            @apply text-red-600;
          }
          .titleText {
            @apply me-1.5 line-clamp-1 max-md:line-clamp-2 max-sm:line-clamp-3 break-all;
          }
        }
      }
      .cardInfo {
        @apply text-sm w-24
        flex flex-col justify-between
        space-x-2 text-right
        max-sm:flex-row 
        max-sm:justify-start
        max-sm:w-full
        max-sm:flex
        max-sm:text-left
        max-sm:space-x-4;
        & > div {
          @apply flex w-full max-sm:w-fit
          justify-end max-sm:justify-start;
        }
        .timeDisplay {
          .timeIcon {
            @apply w-4 text-yellow-400;
          }
          .timeLabel {
            /* @apply text-right; */
            @apply text-gray-500 font-mono whitespace-nowrap;
            /* line-height: 2; */
          }
        }
        .view {
          @apply font-semibold text-gray-500 font-mono;
          align-items: center;
          .viewIcon {
            /* @apply h-4 w-4; */
          }
          .hit {
            /* @apply text-right; */
          }
        }
        .like {
          @apply font-semibold text-gray-900 font-mono;
          .likeIcon {
            /* @apply w-4; */
          }
          &.hot {
            @apply text-blue-900;
          }
          &.clicked {
            @apply text-blue-700 opacity-70;
          }
        }
      }
    }

    /* .content {
      @apply text-gray-700 text-sm mt-2 overflow-hidden;
    } */
  }
}
